**/bin/
**/gen/
**/obj/
**/*.log

# C++
.cache
CMakeCache.txt
**/CMakeFiles/
build/
firebase_cpp_sdk

# Android
proj.android*/**/.idea

# Linux
proj.linux/*
!proj.linux/*.cpp

# Windows
proj.win32/build

# IntelliJ / Android Studio
.idea/